:root {
    /*--iceCold: #a0d2eb;*/
    /*--freezePurple: #e5eaf5;*/
    /*--medPurple: #d0bdf4;*/
    /*--purpleRain: #8458B3;*/
    /*--heavyPurple: #a28089;*/
    /*--purpleBase: #161748;*/
    /*--greenTree: #478559;*/
    /*--pinkSand: #ffa8B6;*/
    /*--pinkHigh: #f95d9b;*/
    /*--darkSand: #a28089;*/
    /*--blueWater: #39a0ca;*/
    --navy: #002447;
    --lightBlue: #53d3d1;
    --skinTone: #fbeceb;
    --comfyOrange: #feb249;
  }
  
  body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
      'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
      sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    background-color: var(--navy);
  }
  
  code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
      monospace;
  }